@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes twinkle {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}
.animate-twinkle {
    animation: twinkle 3s infinite;
}

.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }