@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes twinkle {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}
.animate-twinkle {
    animation: twinkle 3s infinite;
}

.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.animate-gradient {
    background-size: 200% auto;
    animation: gradient 3s ease infinite;
}

